*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    background-color: rgb(80, 77, 77);
}
@media (min-width:576px){

    html{
        font-size: 10px;
    }

}
@media (min-width:768px){

    html{
        font-size: 13px;
    }

}
@media (min-width:992px){

    html{
        font-size: 16px;
    }
    
}
@media (min-width:1200px){

    html{
        font-size: 20px;
    }
}
/* nav */
nav{

    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: gray;
    position: sticky;
    top: 0;
}
/* .div2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav h1{
    color: white;
}
nav ul li{
    list-style-type: none;
    margin: auto 1rem;
    
}
nav ul li a{
    text-decoration: none;
    color: white;

}
/* Section 1 */
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}
section .div3{
    width: 35%;
    color: white;
}
/**/
img{
    width: 10rem;
    border-radius: 50%;
    border: 10px solid gray;
    margin-right: 1rem;
}
.div4{
    display: flex;
}
.div3 h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.div4 a{

    color: black;
    font-size: 2rem;
    margin-right: 1rem;
}
.div6 i{
    display: flex;
    font-size: 2rem;   
    margin-right: 1rem
}

.div6 i b{
    font-size: 1rem;  
    margin-top: 0.5rem; 
    margin-left: 0.5rem;
    color: white;
}

.div7{
    border: 0.2rem solid black;
    width: 40%;
}
/* Table*/
.table1{
    width: 35%;
    margin-right: 2rem;
    border-collapse: collapse;
    border: 0.2rem solid;
    margin-bottom: 1rem;
}
.table1, th, td{
    padding: 0.4rem;
} 
.table3{
    width: 45%;
    margin-right: 2rem;
    border-collapse: collapse;
    border: 0.2rem solid;
    margin-bottom: 1rem;
}

.table3, th, td{
    padding: 0.4rem;
} 
.table4{
    width: calc(80% + 2rem);
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border: 0.2rem solid;
}

.table4, th, td{
    padding: 0.4rem;
} 

.table2{
    width: 45%;
    margin-right: 2rem;
    border-collapse: collapse;
    border: 0.2rem solid;
    margin-bottom: 1rem;
}
.table2, th, td{
    padding: 0.4rem;
} 
.section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ul1{
    border: 0.2rem solid;
    list-style-type: none;
}

.div8{
    width: 35%;
    display: block;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
